// Fonts

// Unclassed
  :root {
    font-size: 12px;
  }
  html {
    padding: 0;
    margin: 0 !important;
    overflow-y: auto !important;
    overflow-x: hidden;
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
  }

  body {
    min-height: 100%;
    min-width: 320px;
    background: $c_page_bg;
    color: $c_text;
    font-size: 1rem;
    font-weight: normal;
    font-family: $font_myriad;
    line-height: 1.4;
  }

  a {
    color: $c_links;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  img,
  video {
    max-width: 100%;
  }
  ::selection {
    background: $c_blue_light;
  }

// Forms
  input,
  button {
    &[disabled] {
      pointer-events: none;
      opacity: .9;
    }
    &:focus {
      // outline: none;
      // box-shadow: 0 0 5px 5px rgba($c_blue_light, 0.5);
    }
  }
    input[type=text] {
      border: 0;
      padding: 10px 20px 15px;
      background: $c_input_bg;
      border: 1px solid $c_input_border;
      border-radius: 3px;
      font-size: 1.4rem;
      color: $c_text;
    }

// Helpers
  .preloader {
    pointer-events: none;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba($c_page_bg, 0.65);
      background-image: url('./assets/preloader.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100px;
      opacity: 0;
      animation-name: preloader-show;;
      animation-delay: .5s;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      z-index: 100;
    }
  }
  // Styles for text from WYSIWYG editor
    .text-content {
      > p {
        font-size: 14px !important;
        font-family: $font_myriad !important;
        &:last-of-type {
          margin-bottom: 5px;
          margin-bottom: 0;
        }
      }
      > img,
      > video {
        max-width: 100% !important;
      }
      ul {
        list-style-position: inside;
      }
    }

// Layout width
  .width-wrapper {
    max-width: $layout_max_width;
    margin: 0 auto;
    padding: 0 14px;
    @include breakpoint($desktop) {
      padding: 0;
    }
  }