@mixin breakpoint ($min, $max: 0) {
  @if ($max > 0) {
    @media screen and (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else {
    @media screen and (min-width: $min) {
      @content;
    }
  }
}

@mixin padding-hack ($padding: 100%, $after: true) {
  @if ($after) {
    &:after {
      content: '';
      display: block;
      padding-top: $padding;
    }
  } @else {
    &:before {
      content: '';
      display: block;
      padding-top: $padding;
    }
  }
}

@mixin bg ($size: cover, $pos: center) {
  background-repeat: no-repeat ;
  background-position: #{$pos};
  background-size: #{$size};
}

@mixin placeholder-color ($color) {
  ::-webkit-input-placeholder {color:$color;}
  ::-moz-placeholder          {color:$color;}
  :-moz-placeholder           {color:$color;}
  :-ms-input-placeholder      {color:$color;}
}


@mixin clrBtn () {
  background-color: transparent;
  cursor: pointer;
}

@mixin btn ($bg: $c_brown, $hoverBg: $c_green, $textColor: $c_white) {
  padding: 15px 28px;

  border: 0;
  background: $bg;
  color: $textColor;

  font-size: 1.2rem;
  line-height: .8;
  font-weight: 700;
  text-align: center;

  cursor: pointer;
  &:hover {
    background: $hoverBg;
  }

  &:active,
  &:focus {
  }
  @include breakpoint($desktop) {
    padding: 17px 32px;
  }
}

@mixin roundedBtn () {
  display: block;
  background: $c_white;
  border: 1px solid $c_black;
  border-radius: 20px;
  padding: 3px 5px;
  cursor: pointer;
}

@mixin linkUnderline ($color) {
  position: relative;
  padding-bottom: 5px;
  cursor: pointer;
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3px;
    background: $color;
    opacity: 0;
    transition: opacity .3s ease;
  }
  &:hover {
    &:after {
      opacity: 1;
    }
  }
}