// Colors definitions
  $c_black: #000;
  $c_black2: #282828;
  $c_white: #fff;
  $c_gold: #ab8b3f;
  $c_brown: #867d67;
  $c_blue_dark: #3a3f6d;
  $c_blue_light: #ccf4ff;
  $c_gray: #4f4f4f;
  $c_gray2: #ccc;
  $c_gray_light: #f5f5f5;
  $c_green: #6ecd5b;

// Fonts definitions
  $font_myriad: 'Myriad Pro', 'Helvetica Neue', 'Helvetica', sans-serif;

// Layout width
  $mobile: 320px;
  $desktop: 700px;
  $layout_max_width: 940px;

// Layout colors
  $c_page_bg: $c_white;
  $c_text: $c_gray;
  $c_links: $c_gold;

  $c_input_bg: $c_white;
